.Rproj.user
.Rhistory
.Ruserdata

*.RData
*.Rproj


# data files
*.xlsx
*.txt
*.zip
*.pdf
*.docx
*.csv


# challenges
02_challenges/*.csv
02_challenges/2022/consistent_troubleshoot_2022.R
